<p>Pjax es un <em>plugin</em> de jQuery escrito por Chris Wanstrath que  permite actualizar una secci&oacute;n de una p&aacute;gina con una petici&oacute;n AJAX en lugar de hacer una petici&oacute;n HTTP completa.  La demo page1 muestra c&oacute;mo funciona.  Por defecto, al hacer clic en cualquiera de los enlaces de la p&aacute;gina &eacute;sta se recargar&iacute;a, lo que puede comprobarse porque la fecha que se muestra cambiar&iacute;a.  Con Pjax (que se activa haciendo clic en la casilla correspondiente) los enlaces ya no recargan la p&aacute;gina, aunque s&iacute; que cambia la secci&oacute;n principal de &eacute;sta.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/803/original/E294I01.png" width="800" height="531" alt="La debmo de pjax."/>
</div>

<p>Pjax utiliza <code>pushState</code>, por lo que usuario no percibe que se est&aacute;n haciendo peticiones AJAX: cada vez que se actualiza la p&aacute;gina, cambian el t&iacute;tulo y la URL de la misma, e incluso se a&ntilde;ade al historial del navegador la p&aacute;gina anterior, por lo que el bot&oacute;n de volver atr&aacute;s funciona adecuadamente.  Pjax degrada bien y si el navegador del usuario no soporta <code>pushState</code> o JavaScript est&aacute; inhabilitado entonces se har&aacute;n peticiones HTTP normales.</p>

<h3>Integraci&oacute;n de Pjax en una aplicaci&oacute;n Rails</h3>

<p>Hay varias maneras de integrar pjax en una aplicaci&oacute;n Rails, en este episodio veremos dos de ellas.  A continuaci&oacute;n se muestra la aplicaci&oacute;n con la que vamos a trabajar, que muestra un listado de productos en el que al hacer clic sobre un producto concreto se muestra una barra laterla para visualizar informaci&oacute;n acerca de dicho producto.</p>


<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/804/original/E294I02.png" width="799" height="531" alt="El sitio mostrando información acerca de uno de los productos."/>
</div>

<p>Ahora mismo al hacer clic en el enlace se carga toda la p&aacute;gina de nuevo.  Para ver este tipo de cambios, tanto la plantilla de la p&aacute;gina como el <em>layout</em> de la aplicaci&oacute;n generan n&uacute;meros aleatorios al cargarse por lo que si los dos n&uacute;meros cambian sabremos que se ha producido una recarga completa.  Utilizaremos a continuaci&oacute;n pjax para actualizar s&oacute;lo las &aacute;reas de la p&aacute;gina que tengan que cambiar.</p>

<p>David Heinemeier Hanson ha escrito una gema llamada  <a href="https://github.com/rails/pjax_rails">pjax_rails</a> que hace que sea muy f&aacute;cil a&ntilde;adir pjax en nuestras aplicaciones Rails 3.1, y aunque no encaja exactamente con lo que necesitamos la usaremos igualmente para ver c&oacute;mo funciona.  Se instala a&ntilde;adiendo la gema pjax_rails a nuestro <code>Gemfile</code> y ejecutando <code>bundle</code>.</p>

``` /Gemfile
source 'http://rubygems.org'

gem 'rails', '3.1.1'
gem 'sqlite3'

# Gems used only for assets and not required
# in production environments by default.
group :assets do
  gem 'sass-rails',   '~> 3.1.4'
  gem 'coffee-rails', '~> 3.1.1'
  gem 'uglifier', '>= 1.0.3'
end

gem 'jquery-rails'
gem 'pjax_rails'
```

<p>Cuando Bundler haya acabado tenemos que modificar el manifiesto <code>application.js</code> para que cargue el JavaScript de pjax.</p>


``` /assets/javascripts/application.js
// This is a manifest file that&#x27;ll be compiled into including all the files listed below.
// Add new JavaScript/Coffee code in separate files in this directory and they&#x27;ll automatically
// be included in the compiled file accessible from http://example.com/assets/application.js
// It&#x27;s not advisable to add code directly here, but if you do, it&#x27;ll appear at the bottom of the
// the compiled file.
//
//= require jquery
//= require jquery_ujs
//= require pjax
//= require_tree .
```

<p>Por &uacute;ltimo tenemos que envolver la llamada a <code>yield</code> en el <em>layout</em> con un <code>div</code> que tenga el atributo <code>data-pjax-container</code>.</p>


```/app/views/layouts/application.html.erb
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Store" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div class="layout_time">Layout random: <strong><%= rand(900)+100 %></strong></div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div data-pjax-container>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
```

<p>Si ahora reiniciamos el servidor y recargamos la p&aacute;gina, se activar&aacute; pjax sobre todos los enlaces de la p&aacute;gina.  Al hacer clic en uno de ellos la p&aacute;gina no se volver&aacute; a cargar, lo que podremos ver porque s&oacute;lo cambia el n&uacute;mero aleatorio que genera la plantilla.  Esto es casi lo que queremos, pero si miramos con m&aacute;s detalle veremos que el t&iacute;tulo de la p&aacute;gina no est&aacute; cambiando.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/805/original/E294I03.png" width="799" height="411" alt="El título no cambia cuando sí lo hace el resto de la página."/>
</div>

<p>Esto se corrige a&ntilde;adiendo la etiqueta <code>title</code> en la plantilla.  Esto es un poco chapucero, de hecho hace que el HTML de la p&aacute;gina no valide, pero al menos funciona.</p>

``` /app/views/index.html.erb
<% content_for :title, @product ? @product.name : "Products" %>
<title><%= yield (:title) %></title>
<!-- Rest of page omitted -->
```

<p>Tras recargar la p&aacute;gina veremos que el t&iacute;tulo cambia cuando se hace clic en uno de los enlaces y que el bot&oacute;n de ir atr&aacute;s y el hist&oacute;rico del navegador funcionan correctamente.  Para el usuario todo funciona igual que antes, s&oacute;lo que un poco m&aacute;s r&aacute;pido.  Esto est&aacute; bien, pero la gema <code>pjax_rails</code> es un poco agresiva, porque activa pjax sobre todos los enlaces que se muestren, lo que no queremos para nuestra aplicaci&oacute;n.  De la misma forma, vemos que se actualiza siempre toda la plantilla, no habiendo forma de decir qu&eacute; partes de la p&aacute;gina queremos actualizar.  Podr&iacute;amos desactivar pjax para ciertos enlaces, pero ciertamente ser&iacute;a una forma extra&ntilde;a de trabajar.  Si tenemos una aplicaci&oacute;n muy sencilla cuyo <em>layout</em> es siempre el mismo, es posible que pjax-rails no nos sea muy &uacute;til.</p>

<p>La gema  <a href="https://github.com/eval/rack-pjax">rack-pjax</a> de Gert Goet utiliza un <em>middleware</em> de Rack para dar una soluci&oacute;n m&aacute;s flexible que pjax_rails.  Primero sustituiremos la gema pjax_rails por <code>rack-pjax</code> en el <code>Gemfile</code> y ejecutaremos <code>bundle</code>.</p>

``` /Gemfile
# gem 'pjax_rails'
gem 'rack-pjax
```

<p>Tras lo cual tenemos que a&ntilde;adir el <em>middleware</em> al fichero de configuraci&oacute;n de nuestra aplicaci&oacute;n.</p>


``` /config/application.rb
module Store
  class Application < Rails::Application 
    config.middleware.use Rack::Pjax
    # Other config commands omitted
  end
end
```

<p>Rack-pjax no incorpora un <em>plugin</em> de jQuery, por lo que lo tendremos que instalar por separado.  Creemos el directorio  <code>vendor/assets/javascripts</code> y con <code>curl</code> descargaremos el fichero <code>jquery.pjax.js</code>.</p>

``` terminal
$ mkdir -p vendor/assets/javascripts
$ curl https://raw.github.com/defunkt/jquery-pjax/master/jquery.pjax.js > vendor/assets/javascripts/jquery.pjax.js
``` 

<p>Tenemos que incluir este archivo en el fichero de manifiesto de JavaScript de nuestra aplicaci&oacute;n por lo que cambiaremos el JavaScript de pjax_rails  por este otro:</p>


``` /assets/javascripts/application.js
//= require jquery
//= require jquery_ujs
//= require jquery.pjax
//= require_tree .
```

<p>Al contrario que pjax_rails, rack-pjax no activa pjax sobre todos los enlaces por defecto, por lo que tenemos que especificar qu&eacute; enlaces queremos activar.  Se trata de de las p&aacute;ginas del controlador <code>ProductsController</code>, por lo que lo haremos en el fichero CoffeeScript de los productos.</p>


```/app/assets/javascripts/products.js.coffee
jQuery ->
  $('.product a').pjax('[data-pjax-container]')
```  

<p>Con este c&oacute;digo primero nos aseguramos que el DOM ha terminado de cargar y luego localizamos los enlaces sobre los que queremos que act&uacute;e pjax, en nuestro caso se trata de todos los enlaces que cuelgan debajo de la clase <code>product</code>.  Luego llamamos al m&eacute;todo <code>pjax</code> sobre ellos y especificamos qu&eacute; es lo que queremos actualizar cuando se haga clic en el enlace.</p>

<p>Con rack-pjax ya no es necesario reescribir el elemento <code>title</code>, por lo que podemos quitarlo de la plantilla <code>index</code>.  Al recargar la p&aacute;gina veremos que todo funciona igual que antes; s&oacute;lo se actualiza la plantilla (y no el <em>layout</em>)  al hacer clic en el enlace, porque solo se genera el n&uacute;mero aleatorio de la plantilla.  Aunque no lo hayamos especificado en la plantilla tambi&eacute;n se actualiza el t&iacute;tulo porque  &eacute;ste se detecta desde el <em>layout</em>.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/806/original/E294I04.png" width="799" height="411" alt="El título se actualiza correctamente."/>
</div>

<p>Lo que resulta realmente &uacute;til es que ahora ya podemos mover nuestro elemento <code>data-pjax-container</code> a donde queramos.  Ya no tiene que estar colocado alrededor de la llamada <code>yield</code> en el fichero de <em>layout</em>.  Lo moveremos a la plantilla <code>index</code> y lo pondremos alrededor de la secci&oacute;n que muestra el detalle de un producto.</p>


```/app/views/products/index.html.erb
<% content_for :title, @product ? @product.name : "Products" %>

<div class="template_time">Template random: <strong><%= rand(900)+100 %></strong></div>

<h1>Products</h1>

<% for product in @products %>
  <div class="product">
    <h2>
      <%= link_to product.name, :product_id => product %>
      <span class="price"><%= number_to_currency(product.price) %></span>
    </h2>
  </div>
<% end %>

<p><%= link_to "New Product", new_product_path %></p>

<div data-pjax-container>
  <% if @product %>
  <div id="product_details">
    <h3><%= @product.name %></h3>
    <dl>
      <dt>Price:</dt>
      <dd><%= number_to_currency(@product.price) %></dd>
      <dt>Released:</dt>
      <dd><%= @product.released_at.strftime("%B %e, %Y") %></dd>
      <dt>Category:</dt>
      <dd><%= @product.category %></dd>
    </dl>
    <p class="actions">
      <%= link_to "Edit", edit_product_path(@product) %> |
      <%= link_to "Destroy", @product, method: :delete, confirm: "Are you sure?" %>
    </p>
  </div>
  <% end %>
</div>
```

<p>Cuando ahora hagamos clic en un enlace s&oacute;lo cambiar&aacute; el panel lateral, y no cambiar&aacute; ninguno de los n&uacute;meros aleatorios.</p>

<p>Los que tengan curiosidad por conocer el funcionamiento de esta gema pueden estudiar su c&oacute;digo fuente, que es realmente sencillo y ocupa tan s&oacute;lo 50 l&iacute;neas de c&oacute;digo en un &uacute;nico fichero Ruby.  Hay que tener en cuenta que el servidor sigue mostrando todo el <em>layout</em> y la plantilla, y es rack-pjax quien decide qu&eacute; partes enviar al cliente.  Si por motivos de rendimiento la plantilla resultase costosa de generar deber&iacute;amos buscar una soluci&oacute;n alternativa, pero para nuestra aplicaci&oacute;n ser&aacute; suficiente.</p>

<p>Con esto terminamos este episodio acerca de pjax.  Es una soluci&oacute;n sencilla que merece la pena contemplar si creemos que se adapta a las necesidades de nuestra aplicaci&oacute;n.</p>
